.form {
    box-shadow: 0 2px 8px black;
    padding: 0.5rem;
    border-radius: 3px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input,
.inputs textarea {
    font: inherit;
    width: 95%;
    border-radius: 3px;
    padding: 0.25rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.inputs label {
    font-weight: bold;
    font-size: 1.3rem;
}

.actions {
    text-align: right;
    margin-top: 1rem;
}

.actions button {
    background-color: #8f1a47;
    padding: 0.4rem 0.8rem;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 1rem;
}